# 以#开头的是注释
# ignore文件中匹配的才会忽略，这里我的本地创建一个123.txt文件用于测试
123.txt
# 忽略所有的 html 文件
*.html
# 前面加！的文件是例外，可以上传，比如 !index.html 的话，index可以上传
#配置语法：
#以斜杠“/”开头表示目录；
#以星号“*”通配多个字符；
#以问号“?”通配单个字符
#以方括号“[]”包含单个字符的匹配列表；
#以叹号“!”表示不忽略(跟踪)匹配到的文件或目录；

